body {
  text-align: center;
  font-family: Times, serif ;
}

h1 {
  color: #333;
}

audio {
  display: block;
  margin: 20px auto;
}
.song-title {
  font-weight: bold;
  margin-top: 10px;
  color: red;
}
