body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h1, p {
  font-family: "Times New Roman", Times, serif;
}

audio {
  display: block;
  margin: 20px auto;
}
.song-title {
  font-weight: bold;
  margin-top: 10px;
  color: red;
}
